{{> header}}

<div id="products-page" class="page-content">

<h2 class="has-text-centered">Products</h2>

<div class="columns is-multiline products">
    {{#each products}}
    <div class="column is-3 product">
        <div class="product-image">
            <img src={{bookImageUrl}} />
        </div>
        
        <div class="product-info">
<h6>{{title}}</h6>
        <h6>{{author}}</h6>
        <p>{{formatDate publicationDate}}</p>
        <p>{{price}}</p>

        </div>
        
        <div class="columns">
            <div class="column"><a class="button is-link">View Detail</a></div>
            <div class="column"><a class="button is-success">Add To Cart</a></div>
        </div>
        
        <hr/>
        
    </div>
    {{/each}}
</div>




</div>

{{> footer}}