<!DOCTYPE html>
<html>

<head>

    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="/images/cloud-1.png" />

    {{!-- Compiled and minified CSS from Materialize.css --}}
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/material-icons.css" />

    {{!-- Site specific css from static directory --}}
    <link rel="stylesheet" type="text/css" href="/css/site.css" />


</head>

<body>

    <main>
        
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper blue">
                    <a href="/" class="brand-logo">{{ title }}</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        
                        {{#if email}}
                        <li>Welcome {{ email }} !</li>
                        <li><a href="/signout">Sign Out</a></li>
                        {{else}}
                        <li><a href="/signin">Sign In</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                        {{/if}}
                        <li><a href="/">Home</a></li>
                    </ul>
                </div>
            </nav>

            <ul id="mobile-demo" class="sidenav">
                <li>Menu</li>
                {{#if email}}
                <li id="welcome-message">Welcome {{ email }} !</li>
                <li><a href="/signout">Sign Out</a></li>
                {{else}}
                <li><a href="/signin">Sign In</a></li>
                <li><a href="/signup">Sign Up</a></li>
                {{/if}}
            </ul>

        </div>
        <h4 class="center-align">A Forest of Shopping</h4>
        <h4 class="center-align">On the Cloud&nbsp;<img src="/images/cloud-1.png" height="35" /></h4>